name: Run Unit Tests

on:
  pull_request:
    branches:
      - dev

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Flutter Env
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        cache: true

    - name: Run Test
      run: make test
